
.Projects{
    margin-top: 80px;
    background: var(--dark);
    color: var(--light);
    padding: 50px 0;
}


.projectRightContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    transition: var(--trans-03);
}

.projectRightContent {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    width: auto;
    height: auto;
    transition: var(--trans-03);
}



/* Media query for smaller screens */
/** Under 992px **/
@media (max-width: 1200px) {
    .projectRightContent {
        grid-template-columns: repeat(2, 1fr);
        /* Changes to 2 columns on medium screens */
    }
}

@media (max-width: 967px) {
    .projectRightContent {
        grid-template-columns: repeat(1, 1fr);
        /* Changes to 2 columns on medium screens */
    }
}

@media (max-width: 580px) {
    .projectRightContainer {
        margin-top: 20px;
    }

    .projectRightContent {
        grid-template-columns: repeat(2, 1fr);
        /* Changes to 1 column on small screens */
    }
}