button {
    border: none;
    background: none;
    width: 35px;
    height: 35px;
    font-size: 18px;
    cursor: pointer !important;
    color: var(--dark-800);
    border-radius: var(--br-50);
    transition: var(--trans-03);
}

button:hover {
    color: var(--primary);
}