.leftContent{
    height: 100%;
    transition: var(--trans-03);
}
.h3{
    font-size: 3rem;
    font-weight: 600;
    line-height: 70px;
    text-transform: capitalize;
    color: var(--light);
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--trans-03);
}
.p{
/*     background: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--dark-800);
    margin-bottom: 30px;
    font-weight: 300;
    line-height: 30px;
    transition: var(--trans-03);
}

@media (max-width: 497px) {
    .h3 {
        font-size: 2rem;
        line-height: 40px;
    }
}
